@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@1,900&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 48vw bottom 40vh, left 45vw top 44vh;
  display: flex;

  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  width: 320px;
}
.blue_card {
  padding: px;
}

.white_card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}
.profile-img {
  padding: 5px;
}

.profile-img img {
  border-radius: 50px;
  border: 5px solid white;

  margin-top: -50px;
}
.profile_name {
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  opacity: 0.8;
}
.profile_name span {
  font-size: 16px;
  opacity: 0.8;
  font-weight: 500;
}
.row_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1.5em;
}
.row_item span {
  font-size: 11px;
  letter-spacing: 1px;
  opacity: 0.6;
}
.place {
  opacity: 0.7;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 1.4em;
}
p {
  opacity: 0.8;
  font-weight: 700;
  font-size: 18px;
}
hr {
  opacity: 0.3;
}
